# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
ophyd
pytest >=3.9
suitcase-utils[test_fixtures] >=0.1.4rc1
